body {
    background-color: rgb(244, 244, 248);
}

#navbar {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.game-page {
    display: flex;
}

#logo {
    text-align: center;
}

#header{
    display: flex;
    flex-flow: row;
    text-align: center;
    justify-content: space-evenly;
    background-color: rgb(33, 37, 41);
}

#user {
    color: #BDBDBD;
}

.gameCard {
    background-color: azure;
    padding: 1em;
    margin: 2em;
}

.userLibContainer{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
}

#userLibrary {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-flow: column;
}



#userlibtitle {
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: space-evenly;
}

#maintitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #22c78d;
}

#game{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.search {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}


.flex-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

#this_week {
    display: flex;
    flex-direction: column;
}

#popular {
    display: flex;
    flex-direction: column;
}

#upcoming {
    display: flex;
    flex-direction: column;
}

.game {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    text-align: center;
}

.description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}