#navbar {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#logo {
    text-align: center;
}

#maintitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #22c78d;
}

#subtitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    size: 10px;
}

#game{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.search {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

#user {
    display: flex;
    text-align: left;
    justify-content: flex-start;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

#this_week {
    display: flex;
    flex-direction: column;
}

#popular {
    display: flex;
    flex-direction: column;
}

#upcoming {
    display: flex;
    flex-direction: column;
}