<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remote Critic</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
        <div id="logo">
            <h1 id="maintitle">RemoCritic</h1>
            <p id="subtitle">The new review aggregator on the block</p>
        </div>
        <nav id="navbar">
            <a href="/browse">Browse All Games</a>
            <a href="/localLib">Browse Your Local Library</a>
            <a href="/results">Search</a>
        </nav>
        <div class="flex-container">

            <div id="game">
                <h2>{{game.name}}</h2>
                <p id="description">{{game.description}}</p>
            </div>

            <div id="ratings">{{game.averageScore}}</div>
            
            <div id="userReview">{{game.numReviews}}</div>

        </div>
        <script src="static/script.js"></script>
</body>
</html>