<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remote Critic</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='favicon.ico')}}">
</head>
<body>
        <div id="logo">
            <h1 id="maintitle">RemoCritic</h1>
        </div>
        <nav id="navbar">
            <div class="login">
                <form id="login">
                    <input type="text" name="login" id="loginInput" placeholder="please enter your name" required>
                    <input type="submit" value="Login" id="loginButton">
                </form>
            </div>
            <div id="user"></div>
            <div class="search">
                <form action="/" method="post">
                    <input type="text" name="search" id="search" placeholder="search for your game ...." required>
                    <input type="submit" value="Search">
                </form>
            </div>
        </nav>

        

        <div class="flex-container">

            <div id="game">
                <h2 id="gameName">{{game.name}}</h2>
                <p id="description">{{game.description}}</p>
            </div>



        </div>

        <div id="ratings"><p>Critic score: {{(game.topCriticScore)|round(2)}}</p> <br></div>
            
        <div id="userReview"><p>Number of reviews: {{game.numReviews}}</p></div>

        <script src="{{url_for('static',filename='script.js')}}"></script>
</body>
</html>