<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remote Critic</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div id="header">
        <div id="logo">
            <h1 id="maintitle">RemoCritic</h1>
        </div>
        <nav id="navbar">
            <div class="login">
                <form id="login">
                    <input type="text" name="login" id="loginInput" placeholder="please enter your name" required>
                    <input type="submit" value="Login" id="loginButton">
                </form>
            </div>
            <div id="user">
                <a href="/userLibrary">View library</a>
            </div>
            <div class="search">
                <form action="/" method="post">
                    <input type="text" name="search" id="search" placeholder="search for your game ...." required>
                    <input type="submit" value="Search">
                </form>
            </div>
        </nav>
    </div>
        <div class="flex-container">
                <div id="popular">
                    <h2>Popular</h2>
                    {% for game in popular %}
                    <div class="gameCard">
                        <img src="{{url_for('static',filename='default_img.png')}}" alt="" width="240" height="160">
                        <a href="/game/{{game.id}}">
                            <p class="gameName">{{game.name}}</p>   
                        </a>
                        {% if game.topCriticScore == -1 %}
                        <p class="criticScore">Unrated</p>
                        {% else %}
                        <p class="criticScore">{{(game.topCriticScore)|round(1)}}</p>
                        {% endif %}
                        <button class="addToLibrary" game-id="{{game.id}}">Add to library</button>
                    </div>
                    {%endfor%}
                </div>
                
                <div id="this_week">
                    <h2>Reviewed This Week</h2>
                    {% for game in this_week %}
                        <div class="gameCard">
                            <img src="{{url_for('static',filename='default_img.png')}}" alt="" width="240" height="160">
                            <a href="/game/{{game.id}}">
                                <p class="gameName">{{game.name}}</p>
                            </a>
                            {% if game.topCriticScore == -1 %}
                            <p class="criticScore">Unrated</p>
                            {% else %}
                            <p class="criticScore">{{(game.topCriticScore)|round(1)}}</p>
                            {% endif %}
                            <button class="addToLibrary" game-id="{{game.id}}">Add to library</button>
                        </div>
                    {%endfor%}
                </div>

                <div id="upcoming">
                    <h2>Upcoming Releases</h2>
                    {% for game in upcoming %}
                        <div class="gameCard">
                            <img src="{{url_for('static',filename='default_img.png')}}" alt="" width="240" height="160">
                            <a href="/game/{{game.id}}">
                                <p class="gameName">{{game.name}}</p>
                            </a>
                            {% if game.topCriticScore == -1 %}
                            <p class="criticScore">Unrated</p>
                            {% else %}
                            <p class="criticScore">{{(game.topCriticScore)|round(2)}}</p>
                            {% endif %}
                        </div>
                    {%endfor%}
                    
                </div>
        </div>
        <script src="{{url_for('static',filename='script.js')}}"></script>
</body>
</html>