<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local Library</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <nav id="navbar">
        <a href="/localUserLibrary">Browse Your Local Library</a>
        <a href="/searchResults">Search</a>
    </nav>
</head>
<body>
    <h1 id="maintitle">RemoCritic</h1>
    <p id="subtitle">The new review aggregator on the block</p>
    <h2>Local User Library</h2>
    <ul id="localUserLibrary"></ul>
    <script src="{{url_for('static',filename='script.js')}}"></script>
</body>
</html>