<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Result</title>
    <link rel="stylesheet" href="style.css">
    <nav id="navbar">
        <a href="/browse">Browse All Games</a>
        <a href="/localLib">Browse Your Local Library</a>
        <a href="/results">Search</a>
    </nav>
</head>
<body>
    <h1 id="maintitle">RemoCritic</h1>
    <p id="subtitle">The new review aggregator on the block</p>
    <p>{{result}}</p>
    <script src="script.js"></script>
</body>
</html>